html, body {
  overflow-x: hidden;
}
body {
  position: fixed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pixelify Sans'; 
  font-size: 16pt;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(219, 105, 185), rgb(83, 0, 128));
}
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to right, rgb(219, 105, 185), rgb(83, 0, 128));
    border-radius: inherit;
    padding: 10px;
    display: flex;
}

 
  .flex-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    }
    .nav {
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      background: #000000;
      color: #ffffff;
      flex-direction: row;
     
    }
    .nav ul {
      display: flex;
      list-style: none;
      color: #ffffff;
      font-weight: bold;
    }
    .nav li {
      display: flex;
      color: #ffffff;
      font-size: 1.5em;
    }
    .nav h1:hover {
      transform: scale(1.2);
    }
  a {
    text-decoration: none;
    color: #ffffff;
    
  }
  h2 {
    margin-top: em;
    text-align: right;
    margin-bottom: 1em;
    margin-right: .5em;
    color: #ffffff;
    font-size: 1.5em;
    display: inline-block;
    
  }

.container{
  padding: 2rem;
 
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  background: rgba(0, 0, 0, 0.20);
  margin-bottom: 2em;
}

h1{
    text-align: center;
    font-weight: bold;

}

.board{
    width: 400px;
    margin: 0 auto;
    
}

.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 18px;;
    margin-top: 1em;
}

button{
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background: rgba(0, 0, 0, 0.20);
    width: 120px;
    height: 40px;
    font-size: 0.7rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background: transparent;
}

.move-history{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    width: 400px;
    overflow-y: scroll;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background: rgba(0, 0, 0, 0.20);
    color:#ffffff
}
.backbtn {
  margin-top: .5em;
  text-align: center;
  color: #ffffff;
  font-size: 1.17em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .container {
    padding: .5rem;
  }
}
