* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli';
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(219, 105, 185), rgb(83, 0, 128));
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: transparent;
    color: #ffffff;
  }
  nav ul {
    display: flex;
    list-style: none;
    color: #ffffff;
  }
  nav li {
    display: flex;
    padding-left: 1rem;
    color: #ffffff;
    font-size: 1.5em;
    margin-top: .5em;
  }
  nav h1:hover {
    color:#000000;
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
  h2 {
    margin-top: 3em;
    text-align: right;
    margin-bottom: 1rem;
  }
  .game-links {
  display: flex;
  flex-direction:column;
  gap: 1em;
  font-weight: bold;
  font-size: 1.5em;
  }
  .flex-container2 {
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    align-items: center; /* Vertically center-align items within the container */
    margin-top: 20px;
  }
  h2 {
    margin-top: 3em;
    text-align: right;
    margin-bottom: 1rem;
  }
.links {
    display: flex;
    flex-direction: row;
}
.Tic {
     color: #ffffff;
     list-style: none;
}

.Tic:hover {
    transform: scale(1.2); /* Change the scale value to make it slightly bigger */
    color: #000000;
}

.Snake {
     color: #ffffff;
     list-style: none;
     text-align: center;
}

.Snake:hover {
    transform: scale(1.2); /* Change the scale value to make it slightly bigger */
    color: #000000;
}

.Mini {
     color: #ffffff;
     list-style: none;
     text-align: center;
}

.Mini:hover {
    transform: scale(1.2); /* Change the scale value to make it slightly bigger */
    color: #000000;
}

