html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans'; 
    font-size: 16pt;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(219, 105, 185), rgb(83, 0, 128));
  }
  .nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #ffffff;
    flex-direction: row;
   
  }
  .nav ul {
    display: flex;
    list-style: none;
    color: #ffffff;
    font-weight: bold;
  }
  .nav li {
    display: flex;
    color: #ffffff;
    font-size: 1.5em;
  }
  .nav h1:hover {
    transform: scale(1.2);
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }



@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
}
