* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli';
  color: #ffffff;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(219, 105, 185), rgb(83, 0, 128));
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: transparent;
  color: #ffffff;
}
nav ul {
  display: flex;
  list-style: none;
  color: #ffffff;
}
nav li {
  display: flex;
  padding-left: 1rem;
  color: #ffffff;
  font-size: 1.5em;
  margin-top: .5em;
}
a {
  text-decoration: none;
  color: #ffffff;
}
nav h1:hover {
  color:#000000;
}
.flex-container {
display: flex;
flex-direction:column;
}
.flex-container2 {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  align-items: center; /* Vertically center-align items within the container */
  margin-top: 20px;
}
h2 {
  margin-top: 3em;
  text-align: right;
  margin-bottom: -1rem;
}
#winner-display {
  flex: 2.3; /* Takes up 2/3 (66.67%) of the available space */
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  height: 50px;
  margin-right: 10px; /* Add spacing between the two items */
  display: flex;
  align-items: center;
  justify-content: center;
}

#reset-button {
  flex: 1; /* Takes up 1/3 (33.33%) of the available space */
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#reset-button:hover {
  background-color: transparent;
  border: 5px solid #ffffff;
}
.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border: #ffffff .1rem solid;
  border-radius: 5px;
  background: transparent;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
  margin-top: 2rem;
}
.game-details {
  color: #B8C6DC;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: transparent;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
  border-bottom: #ffffff .1rem solid;
  border-top: #ffffff .1rem solid;
}
.play-board .food {
  background: #2b014f
}
.play-board .head {
  background: #ffffff;
}

.controls {
  display: none;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #ffffff;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #ffffff;
}
@media (min-width: 768px) {
  .wrapper {
    width: 65vmin;
    height: 70vmin;
  }
  .game-details {
    font-size: 1.2rem;
    padding: 20px 27px;
  }
  .controls {
    display: none;
  }
  .controls i {
    padding: 25px 0;
    font-size: 1.3rem;
  }
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}
